- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    //%meta{:content => "IE=7", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    //%meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => "keywords", :content => "bar,restaurant,houston,texas,rice village, brunch, wine, cocktail, martini"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    //%script{:type => "text/javascript", :src => "javascripts/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    //%script{:type => "text/javascript", :src => "javascripts/iscroll.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    //%link{:href => "stylesheets/queryLoader.css", :rel => "stylesheet", :type => "text/css"}/
    //%script{:src => "javascripts/queryLoader.js", :type => "text/javascript"}
    //%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js", :type => "text/javascript"}
    


  %body{:onorientationchange =>"ipadFunc();"}
  //.preloader
  //  .preloader-box
  //    %img{:height => "40", :src => "/images/75.gif", :width => "40"}
  .bg2
  .bg1
  .left-side-bar-bg
  .left-side-bar
    .logo
      %img.homeLogoBtn{:height => "33", :src => "/images/logo.png", :width => "327", :border => "0", :class => "icon", :href => "#"}
      //%p 5510 MORNINGSIDE, No. 120
      //%p HOUSTON, TEXAS 77005
      //%p.phone-num 713-590-0610
      //%p INFO@FELIX55.COM
      //.social-icon
      //  %a{:href => "http://www.facebook.com/felix55houston", :target => "_blank"}
      //    %img{:height => "30", :src => "/images/facebook_logo.png", :width => "30", :border => "0", :class => "icon"}
      //  %a{:href => "http://twitter.com/Felix55houston", :target => "_blank"}
      //    %img{:height => "30", :src => "/images/twitter_logo.png", :width => "30", :border => "0", :class => "icon"}
  .menu-container
    %ul
      %li
        %a{:href => "#", :id => "main-1-link"} Home|
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} About|
        .menu-hl{:style => "margin-left: 110px"}
      %li
        %a{:href => "#", :id => "main-2-link"} Services|
        .menu-hl{:style => "margin-left: 220px"}
      %li
        %a{:href => "#", :id => "main-3-link"} Gallery|
        .menu-hl.menu-hl{:style => "margin-left: 330px"}
      %li
        %a{:href => "#", :id => "main-4-link"} Contact
        .menu-hl.menu-hl{:style => "margin-left: 440px"}
  #homePage
  #calendarPage
    .content-border
      .content{:style => "height: 640px;"}
        %br
        %h1 Curabitur feugiat hendrerit 
        .half-content
          %p Vestibulum eu ante ac odio vulputate sodales vitae sit amet leo. Sed neque dolor, viverra eu imperdiet non, tincidunt eu dolor. Fusce lacinia elementum tristique. Curabitur feugiat hendrerit sem, et vestibulum quam ultricies et. Cras aliquam lorem vel diam dignissim in condimentum nibh vehicula. Nam commodo dignissim diam, quis mollis nibh facilisis dictum.
          %p Donec nec dapibus orci. Aliquam rutrum risus vitae nibh tempus interdum. Curabitur condimentum fermentum sapien ac imperdiet. Suspendisse pretium, odio vel porttitor iaculis, tortor sem fringilla massa, et scelerisque tortor nisi non mi. Suspendisse enim ante, scelerisque at semper vel, euismod rutrum arcu. 
          %p Curabitur nec erat a tellus ullamcorper sodales. Donec viverra condimentum risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit semper arcu nec sagittis. Morbi ullamcorper ultricies lacus vel sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %br
        .half-content
          %p Maecenas porttitor tempor odio quis accumsan. Curabitur faucibus tempus lacus sit amet dapibus. Phasellus convallis lectus ac nisl dignissim mattis. Donec suscipit hendrerit orci, eget dapibus nunc posuere quis. Vivamus convallis bibendum ullamcorper. Ut at lectus sit amet libero dapibus porttitor eu vitae urna. 
          %p Fusce ac nunc sed quam venenatis commodo id at libero. Nam pretium, dui a consequat ultricies, mauris urna ultricies nisi, vel aliquam mauris urna ac odio. Phasellus orci magna, laoreet in auctor sit amet, tristique vitae ante. Mauris semper, massa ut adipiscing mattis, leo nulla lacinia nisi, et dapibus nulla nunc quis lectus.
  #venuePage
    .content-border
      .content
        %br
        %h1 Morbi non turpis
        %p Cras in mollis odio. Morbi scelerisque ultrices est ac hendrerit. Curabitur nec erat a tellus ullamcorper sodales. Donec viverra condimentum risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        %p Maecenas suscipit semper arcu nec sagittis. Morbi ullamcorper ultricies lacus vel sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec ullamcorper sem. Suspendisse egestas diam id magna lobortis sed viverra nunc aliquam
        %h2 Maecenas porttitor
        %ul
          %li Nam nisi lectus
          %li Nam nisi lectus
          %li Nam nisi lectus
          %li Nam nisi lectus
        %h2 Cras in mollis odio
        %ul
          %li Quisque elit orci 
          %li Quisque elit orci 
          %li Quisque elit orci 
          %li Quisque elit orci
        %br
        %br 
  #galleryPage
    .content-border
      .content
        %br
        %h1 Gallery
        %h2 Aenean porta
        .gallery-container
          %a{:href => "/images/gallery/wedding/1_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/images/gallery/wedding/1.jpg", :width => "100"}
          %a{:href => "/images/gallery/wedding/2_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/images/gallery/wedding/2.jpg", :width => "100"}
          %a{:href => "/images/gallery/wedding/3_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/images/gallery/wedding/3.jpg", :width => "100"}
          %a{:href => "/images/gallery/wedding/4_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/images/gallery/wedding/4.jpg", :width => "100"}
          %a{:href => "/pics/weddings/1_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/1.jpg", :width => "100"}
          %a{:href => "/pics/weddings/2_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/2.jpg", :width => "100"}
          %a{:href => "/pics/weddings/3_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/3.jpg", :width => "100"}
          %a{:href => "/pics/weddings/4_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/4.jpg", :width => "100"}
          %a{:href => "/pics/weddings/5_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/5.jpg", :width => "100"}
          %a{:href => "/pics/weddings/6_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/6.jpg", :width => "100"}
          %a{:href => "/pics/weddings/7_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/7.jpg", :width => "100"}
          %a{:href => "/pics/weddings/8_big.jpg", :rel => "lightbox[wedding]"}
            %img{:height => "100", :src => "/pics/weddings/8.jpg", :width => "100"}
          //%a{:href => "/pics/weddings/10_big.jpg", :rel => "lightbox[wedding]"}
          //  %img{:height => "100", :src => "/pics/weddings/10.jpg", :width => "100"}
          //%a{:href => "/pics/weddings/11_big.jpg", :rel => "lightbox[wedding]"}
          //  %img{:height => "100", :src => "/pics/weddings/11.jpg", :width => "100"}
          //%a{:href => "/pics/weddings/12_big.jpg", :rel => "lightbox[wedding]"}
          //  %img{:height => "100", :src => "/pics/weddings/12.jpg", :width => "100"}

        %br
        %br
        %h2 Vestibulum eu
        .gallery-container
          //%a{:href => "/images/gallery/corperate/1_big.jpg", :rel => "lightbox[corperate]"}
          //  %img{:height => "100", :src => "/images/gallery/corperate/1.jpg", :width => "100"}
          //%a{:href => "/images/gallery/corperate/2_big.jpg", :rel => "lightbox[corperate]"}
          //  %img{:height => "100", :src => "/images/gallery/corperate/2.jpg", :width => "100"}
          %a{:href => "/images/gallery/corperate/3_big.jpg", :rel => "lightbox[corperate]"}
            %img{:height => "100", :src => "/images/gallery/corperate/3.jpg", :width => "100"}
          %a{:href => "/images/gallery/corperate/4_big.jpg", :rel => "lightbox[corperate]"}
            %img{:height => "100", :src => "/images/gallery/corperate/4.jpg", :width => "100"}
          %a{:href => "/pics/corporateEvent/1_big.jpg", :rel => "lightbox[corperate]"}
            %img{:height => "100", :src => "/pics/corporateEvent/1.jpg", :width => "100"}
          %a{:href => "/pics/corporateEvent/2_big.jpg", :rel => "lightbox[corperate]"}
            %img{:height => "100", :src => "/pics/corporateEvent/2.jpg", :width => "100"}
          %a{:href => "/pics/corporateEvent/3_big.jpg", :rel => "lightbox[corperate]"}
            %img{:height => "100", :src => "/pics/corporateEvent/3.jpg", :width => "100"}
          %a{:href => "/pics/corporateEvent/4_big.jpg", :rel => "lightbox[corperate]"}
            %img{:height => "100", :src => "/pics/corporateEvent/4.jpg", :width => "100"}

        %br
        %br
  #reservationPage
    .content-border
      .content
        %br
        %h1 Contact
        %br
        %h2 Phone
        %p (999) 999-9999

        %h2 Email
        %p samplemail@domain.name

        %h2 Address
        %p 5510 MORNINGSIDE, No. 120| Houston, TX 77015
        %br
        %h2 Contact Form
        .contact-form
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "400", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/s7p1a7/", :style => "width:90%;border:none;margin-left:20px;"}
        %br
  //.footer
  //  Copyright &copy Exceptional Events, 2011. All Rights Reserved. 
  //  %a.ourLink{:href => "http://media3creative.com/", :title => "Media 3 Creative"} POWERED BY | Media 3 Creative     
  .footer
    %p 5510 MORNINGSIDE, No. 120
    %p HOUSTON, TEXAS 77015
    %p.phone-num 999-999-9999
    %p INFO@DOMAIN.COM
  .copyright-box 
    //%a.ourLink{:href => "http://media3creative.com/forms/q7p5x7/", :title => "Media 3 Creative"} POWERED BY | Media 3 Creative     
  .photo-preload
    %img{:height => "40", :src => "/images/bg_1.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_2.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_3.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/wine_bottles.jpg", :width => "40"}  
    %img{:height => "40", :src => "/images/cocktails.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/reservation.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/happy_hour.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_6.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/contact.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_3.jpg", :width => "40"}              
    %img{:height => "40", :src => "/images/bg_2.jpg", :width => "40"}
    
  :javascript
    QueryLoader.selectorPreload = "body";
    QueryLoader.init();

    

